
.form {
    margin: 20px;
    font-family: "Montserrat", sans-serif;
       
}

.form>label{
  display: flex;
 flex-direction: column;
 margin-bottom: 10px;
}

.form>label>input{
    margin-bottom: 16px;
    width: 350px;
    height: 40px;
    border-radius: 8px;
}

.form>fieldset{
    width: 330px;
     margin-bottom: 27px;
    border-radius: 8px;

}

.button {
    width: 360px;
    height: 40px;
   background-color:#4E75FF;
   color: white;
   border-radius: 8px;
   border: none;
}